<div id="power" class="block-group">

</div>

<div id="macros" class="block-group">

</div>

<div class="block-group">
  <div id="main" class="block block-main"></div>
  <div id="volume" class="block block-volume"></div>
</div>
