<div class="block-group">
  <div id="macros" class="block block-macros"></div>
  <div id="power" class="block block-power"></div>
</div>

<div class="block-group">
  <div id="main" class="block block-main"></div>
  <div id="volume" class="block block-volume"></div>
</div>
