<ul class="macrosContainer macros">
  <li class="button"><a href="#" data-macro="sat">DirecTV</a></li>
  <li class="button active"><a href="#" data-macro="xbmc">XBMC</a></li>
  <li class="button"><a href="#" data-macro="wii">Wii</a></li>
</ul>
